<div class="d-flex flex-row bd-highlight mb-3">

<div class="form-froup row" style="width: 60%;">

  <input type="hidden" #employeeId name="employeeId" [value]="emp.employeeId" />

    <label class="col-sm-3 col-form-label">Employee Name</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" #employeeName name="employeeName" [value]="emp.employeeName"
          placeholder="Enter Employee Name">
      </div>

      <label class="col-sm-3 col-form-label">Department Name</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" #department  name="department" name="department" [value]="emp.department"  placeholder="Enter Department Name">
      </div>

      <label class="col-sm-3 col-form-label">Date of joining</label>
      <div class="col-sm-10">
          <input type="date" class="form-control" #dateOfJoining  name="dateOfJoining" name="dateOfJoining" [value]="emp.dateOfJoining" >
      </div>

  </div>

<div *ngIf="emp.EmployeeId==0">
  <button class="col-sm-100" height="100px" (click)="addTodo(employeeId.value,employeeName.value,department.value,dateOfJoining.value)" class="btn btn-primary">
      Add
  </button>
</div>
<div *ngIf="emp.EmployeeId!=0">
  <button class="col-sm-100" (click)="updateTodo(employeeId.value,employeeName.value,department.value,dateOfJoining.value)"  class="btn btn-primary">
      Update
  </button>
</div>
